<%= form_with(model: message, local: false, id: 'message-form') do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :context %>
    <%= form.text_area :context, id: "message-form-textarea" %>
  </div>

  <%= form.hidden_field :chat_id, value: chat.id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
